descompactadenovo/src/main/resources/ConsultarParcelaController.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://frontcontroller.apolice" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://frontcontroller.apolice" xmlns:intf="http://frontcontroller.apolice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://frontcontroller.apolice" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="recuperarParcelas">
    <complexType>
     <sequence>
      <element name="xmlClient" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="recuperarParcelasResponse">
    <complexType>
     <sequence>
      <element name="recuperarParcelasReturn" type="xsd:base64Binary"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="recuperarParcelasResponse">

      <wsdl:part element="impl:recuperarParcelasResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="recuperarParcelasRequest">

      <wsdl:part element="impl:recuperarParcelas" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="ConsultarParcelaController">

      <wsdl:operation name="recuperarParcelas">

         <wsdl:input message="impl:recuperarParcelasRequest" name="recuperarParcelasRequest"/>

         <wsdl:output message="impl:recuperarParcelasResponse" name="recuperarParcelasResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ConsultarParcelaControllerSoapBinding" type="impl:ConsultarParcelaController">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="recuperarParcelas">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="recuperarParcelasRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="recuperarParcelasResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ConsultarParcelaControllerService">

      <wsdl:port binding="impl:ConsultarParcelaControllerSoapBinding" name="ConsultarParcelaController">

         <wsdlsoap:address location="http://localhost:8080/webParcelas_2/services/ConsultarParcelaController"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
